.main {
    width: 80%;
    margin: auto;
    padding: 1%;
    background: lightgreen;
    overflow: hidden;
}

.block {
    margin: 1%;
    padding: 1%;
    background: white;
    color: black;
}

.first {
    width: 55%;
    float: left;
}

.second {
    width: 35%;
    float: right;
}

.third {
    width: 35%;
    float: left;
}

.right {
    width: 55%;
    float: right;
}